* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {

    width: auto;
    height: auto;
    font-family: 'Poppins', sans-serif;
    ;
}


@media only screen and (max-width: 200px) {
    body {
        width: 150%;
        height: auto;
    }
}

@media only screen and (max-width: 320px) {
    body {
        width: 150%;
        height: auto;
    }
}

@media only screen and (max-width: 360px) {
    body {
        width: 150%;
        height: auto;
    }
}

@media only screen and (max-width: 375px) {
    body {
        width: 150%;
        height: auto;
    }
}

@media only screen and (max-width: 439px) {
    body {
        width: 150%;
        height: auto;
    }
}

.font {
    background-color: #f20809;
}

header {
    width: 100%;
    height: 650px;
    background-color: #f20809;
    background: url(../img/sakronn.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    overflow: hidden;
    text-align: center;

}


@keyframes checked-anim {
    50% {
        width: 3000px;
        height: 3000px;
    }

    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes not-checked-anim {
    0% {
        width: 3000px;
        height: 3000px;
    }
}

aside {
    position: absolute;
    color: white;
    top: 15%;
    right: 20%;
    text-align: auto;
}

aside h1 {
    align-content: absolute;
    line-height: 1.4;
    font-size: 14vw;
    font-weight: 700;
}

aside h3 {

    line-height: .3;
    font-size: 5vw;
    font-weight: auto;
}


.meny li,
a {
    margin: 60px 0 -65px 0;
    color: rgba(221, 0, 0, 0.918);

    font-weight: 800;
    line-height: 1;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 70;
    display: none;
    text-align: justify;
}


.meny li {
    width: 230px;
    text-indent: 56px;
}

#trigger,
#burger,
#burger:before,
#burger:after {
    position: absolute;
    top: 25px;
    left: 25px;
    background: rgb(241, 2, 2);
    width: 30px;
    height: 6px;
    transition: .2s ease;
    cursor: pointer;
    z-index: 1;
}

#trigger {
    height: 25px;
    background: none;
}

#burger:before {
    content: " ";
    top: 10px;
    left: 0;
}

#burger:after {
    content: " ";
    top: 20px;
    left: 0;
}

#menu-toggle:checked+#trigger+#burger {
    top: 35px;
    transform: rotate(180deg);
    transition: transform .2s ease;
}

#menu-toggle:checked+#trigger+#burger:before {
    width: 20px;
    top: -2px;
    left: 18px;
    transform: rotate(45deg) translateX(-5px);
    transition: transform .2s ease;
}

#menu-toggle:checked+#trigger+#burger:after {
    width: 20px;
    top: 2px;
    left: 18px;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform .2s ease;
}

#menu {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 110px;
    height: 110px;
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 117%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    animation: not-checked-anim .2s both;
    transition: .2s;
}

#menu-toggle:checked+#trigger+#burger+#menu {
    animation: checked-anim 2s ease both;
}

#menu-toggle:checked+#trigger~#menu>li,
a {
    display: block;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    display: none;
}







/*--------------------------------------------------------WAVES--------------------------*/

.wave {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.wave2 {
    position: absolute;
    width: 100%;
    top: 0;
}

.wave3 {
    position: absolute;
    width: 100%;
    bottom: 0;
}



/*--------------------------------------------------------WAVES--------------------------*/



.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
}

/* Main */

/* ---------------------------------------------------- SocialBAR-----------------------------------------  */

.iconns {

    position: fixed;
    bottom: 1%;
    right: -1%;
    width: 200px;
    display: flex;
    flex-direction: column;

}

.iconns a {
    text-decoration: none;
    text-transform: uppercase;
    padding: -200px;
    font-size: 22px;
    margin: 2px;
    text-align: left;
    border-radius: 50px 0px 0px 50px;
    transform: translate(146px, 0px);
    display: flex;
    transition: all 1s;
    line-height: 1.8;

}

.iconns a:hover i {
    transform: rotate(2deg);
}

.iconns a:hover {
    transform: translate(0px, 0px);
}

.faceboook {
    background-image: linear-gradient(to right, #52a4f5 0%, #0413e6 100%);

    color: white;
    margin: 0px;
    padding: -50px;
    font-weight: 100;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 80;

}

.instagram {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    color: white;
    margin: 0px;
    font-weight: 100;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 60;

}

.whatsapp {
    background-image: linear-gradient(to right, #40f808 0%, #0ba505 100%);
    color: white;
    margin: 0px;
    font-weight: 100;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 60;


}

.iconns i {
    margin-right: 7px;
    background-color: white;
    height: 40px;
    width: 40px;
    color: black;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.5s;

}

.iconns a:hover i {
    transform: rotate(360deg);
}


.iconns a i,
#fb {

    color: #2c80d3;
}

.iconns a i,
#ig {

    color: #d32c50;
}

.iconns a i,
#wp {

    color: #32e92b;
}

/* ---------------------------------------------------- SocialBAR-----------------------------------------  */


/*--------------------------------------------------ABOUT----------------------------*/
.acerca-de {
    background-color: #264169;
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}


.sobre-nosotros {
    text-align: center;
    font-size: 80px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #ffffff;
}

.slogan {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
    color: #ffffff;
}

.parrafo {
    margin-bottom: 13px;
    margin-top: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 24px;
    color: rgb(255, 255, 255);
    font-size: 24.8px;
}


/*-----------------------galeria -----------------------*/


.galeria {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    top: 50px;

}

.imagenes {
    width: 20%;
    height: 1000px;
    overflow: hidden;
    position: relative;
}

.imagenes img {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.encima {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.815);
}



/*-----------------------galeria -----------------------*/
/*-----------------------EQUIPO -----------------------*/
.sobre-nosotro {
    text-align: center;
    font-size: 80px;
    margin-top: 100px;
    font-weight: 600;
    color: #264169;
}

.sloga {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 24px;
    color: #264169;
}



.flip-positioon {
    min-height: 100vh;
    padding: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.flip-card-container {
    --hue: 150;
    --primary: hsl(var(--hue), 50%, 50%);
    --white-1: hsl(0, 100%, 100%);
    --white-2: hsl(0, 0%, 100%);
    --dark: hsl(var(--hue), 25%, 10%);
    --grey: hsl(0, 0%, 50%);

    width: 310px;
    height: 500px;
    margin: 40px;

    perspective: 1000px;

}

/* .flip-card */
.flip-card {
    width: inherit;
    height: inherit;

    position: absolute;
    transform-style: preserve-3d;
    transition: .6s .1s;
}

/* hover and focus-within states */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
    transform: rotateY(180deg);
}

/* .card-... */
.card-front,
.card-back {
    width: 100%;
    height: 100%;
    border-radius: 24px;

    background: var(--dark);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    backface-visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* .card-front */
.card-front {
    transform: rotateY(0deg);
    z-index: 2;
}

/* .card-back */
.card-back {
    transform: rotateY(180deg);
    z-index: 1;
}

/* figure */
figure {
    z-index: -1;
}

/* figure, .img-bg */
figure,
.img-bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

/* img */
figure img {
    height: 100%;
    border-radius: 24px;
}

/* figcaption */
figcaption {
    display: block;

    width: auto;
    margin-top: 22%;
    padding: 9px 22px;

    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 1px;
    word-spacing: 6px;
    text-align: right;

    position: absolute;
    top: 0;
    right: 12px;

    color: var(--white-1);
    background: hsla(var(--hue), 25%, 10%, .5);
}

/* .img-bg */
.img-bg {
    background: hsla(var(--hue), 25%, 10%, .5);
}

.card-front .img-bg {
    clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
}

.card-front .img-bg::before {
    content: "";

    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(18deg);

    width: 100%;
    height: 6px;
    border: 1px solid var(--primary);
    border-left-color: transparent;
    border-right-color: transparent;

    transition: .1s;
}

.card-back .img-bg {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
}

/* hover state */
.flip-card-container:hover .card-front .img-bg::before {
    width: 6px;
    border-left-color: var(--primary);
    border-right-color: var(--primary);
}

/* ul */
.flip-card ul {
    padding-top: 50%;
    margin: 0 auto;
    width: 70%;
    height: 100%;

    list-style: none;
    color: var(--white-1);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* li */
.flip-card li {
    width: 100%;
    margin-top: 12px;
    padding-bottom: 12px;

    font-size: 18px;
    text-align: center;

    position: relative;
}

.especial {
    right: 46px;

}

.especial2 {
    right: 17px;
}


.flip-card li:nth-child(2n) {
    color: var(--white-2);
}

.flip-card li:not(:last-child)::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background: currentColor;
    opacity: .2;
}


.design-container {
    --tr: 90;
    --op: .5;

    width: 100%;
    height: 100%;

    background: transparent;
    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;
}

/* .design */
.design {
    display: block;

    background: var(--grey);
    position: absolute;

    opacity: var(--op);
    transition: .3s;
}

.design--1,
.design--2,
.design--3,
.design--4 {
    width: 1px;
    height: 100%;
}

.design--1,
.design--2 {
    top: 0;
    transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%))
}

.design--1 {
    left: 20%;
}

.design--2 {
    left: 80%;
}

.design--3,
.design--4 {
    bottom: 0;
    transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--3 {
    left: 24%;
}

.design--4 {
    left: 76%;
}

.design--5,
.design--6,
.design--7,
.design--8 {
    width: 100%;
    height: 1px;
}

.design--5,
.design--6 {
    left: 0;
    transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.design--5 {
    top: 41%;
}

.design--6 {
    top: 59%;
}

.design--7,
.design--8 {
    right: 0;
    transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--7 {
    top: 44%;
}

.design--8 {
    top: 56%;
}

/* states */
.card-back button:hover+.design-container,
.card-back button:active+.design-container,
.card-back button:focus+.design-container {
    --tr: 20;
    --op: .7;
}

.abs-site-link {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: hsla(0, 0%, 100%, .6);
    font-size: 16px;

}

/*-----------------------EQUIPO -----------------------*/
/*------------------------------------Carusel-------------------------------------*/


.wave4 {
    position: relative;
    width: 100em;
    height: 100em;
    top: 0px;
}

[class^="swiper-button-"] {
    transition: all .3s ease;
}

.swiper-slide {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    z-index: -2;

}

.swiper-container {
    width: 80%;
    height: 100vh;
    float: left;
    transition: opacity .6s ease, -webkit-transform .3s ease;
    transition: opacity .6s ease, transform .3s ease;
    transition: opacity .6s ease, transform .3s ease, -webkit-transform .3s ease;
}

.swiper-container.nav-slider {
    width: 20%;
    padding-left: 5px;

}

.swiper-container.nav-slider .swiper-slide {
    cursor: pointer;
    opacity: .4;
    transition: opacity .3s ease;


}

.swiper-container.nav-slider .swiper-slide.swiper-slide-active {
    opacity: 10;


}

.swiper-container.nav-slider .swiper-slide .content {
    width: 100%;
}

.swiper-container.nav-slider .swiper-slide .content .title {
    font-size: 20px;

}

.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;


}

.swiper-container.loading {
    opacity: 0;
    visibility: hidden;

}

.swiper-slide {
    overflow: hidden;

}

.swiper-slide .slide-bgimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;


}

.swiper-slide .entity-img {
    display: none;
    z-index: -2;
}

.swiper-slide .content {
    position: absolute;
    top: 40%;
    left: 0;
    width: 50%;
    padding-left: 5%;
    color: rgb(255, 255, 255);


}

.swiper-slide .content .title {
    font-size: 2.6em;
    font-weight: bold;
    margin-bottom: 30px;


}

.swiper-slide .content .caption {
    display: block;
    font-size: 13px;
    line-height: 1.4;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
    transition: opacity .3s ease, -webkit-transform .7s ease;
    transition: opacity .3s ease, transform .7s ease;
    transition: opacity .3s ease, transform .7s ease, -webkit-transform .7s ease;

}

.swiper-slide .content .caption.show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;

}

[class^="swiper-button-"] {
    width: 44px;
    opacity: 0;
    visibility: hidden;


}

.swiper-button-prev {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);

}

.swiper-button-next {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);

}

/*--------------------------------------------------Carusel-------------------------------------*/

/*--------------------------------------------------MOOODAL----------------------------*/

.cd-section {
    padding: 2em 5%;
    text-align: center;
    background-color: #264169;
    z-index: 4;

}

.cd-section p {
    margin: 2em 0;
    line-height: 1.6;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 4;

}

@media only screen and (min-width: 768px) {
    .cd-section {
        padding: 4em 10%;
        z-index: 4;
    }

    .cd-section p {
        font-size: 1.8rem;
        line-height: 2;
        z-index: 4;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-section {
        padding: 4em 20%;
        z-index: 4;
    }
}

.cd-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
    -moz-transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
    transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
    z-index: 4;
}

.cd-modal::after {
    /* gradient overlay at bottom of modal window */
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    pointer-events: none;
    background: transparent;
    background: -webkit-linear-gradient(bottom, #34383c, rgba(52, 56, 60, 0));
    background: linear-gradient(to top, #34383c, rgba(52, 56, 60, 0));
    z-index: 4;
}

.cd-modal .cd-modal-content {
    height: 100%;
    width: 100%;
    padding: 3em 5%;
    text-align: left;
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 4;
}

.cd-modal p {
    color: #ffffff;
    line-height: 1.6;
    margin: 2em 0;
    z-index: 4;
    text-align: center;
    font-size: 10px;

}

.modal-is-visible .cd-modal {
    z-index: 4;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    -webkit-transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s;
    -moz-transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s;
    transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s;
}

.modal-is-visible .cd-modal .cd-modal-content {
    -webkit-overflow-scrolling: touch;
    z-index: 4;
}

@media only screen and (min-width: 768px) {
    .cd-modal .cd-modal-content {
        padding: 4em 10%;
        z-index: 4;

    }
}

@media only screen and (min-width: 1170px) {
    .cd-modal .cd-modal-content {
        padding: 6em 20%;
        z-index: 4;
    }

    .cd-modal p {
        font-size: 2rem;
        line-height: 2;
        z-index: 4;
    }
}

.cd-modal-action {
    position: relative;
    z-index: 2;
}

.cd-modal-action .btn {
    display: inline-block;
    padding: 2px;
    width: 128px;
    font-weight: 100;
    background: rgb(189, 18, 18);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin-top: 1px;
    margin-bottom: 0px;
    z-index: 4;

}

.cd-modal-action .cd-modal-bg {
    display: flexbox;
    height: 4em;
    background-color: #264169;
    z-index: 2;
}



.cd-modal-action .btn {
    width: 12.5em;
    border-radius: 5em;
    color: #ffffff;
    line-height: 4em;
    white-space: nowrap;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: color 0.2s 0.3s, width 0.3s 0s;
    -moz-transition: color 0.2s 0.3s, width 0.3s 0s;
    transition: color 0.2s 0.3s, width 0.3s 0s;
    margin-top: 1px;
    margin-bottom: 0px;
    z-index: 4;
}

.cd-modal-action .btn.to-circle {
    width: 4em;
    color: transparent;
    -webkit-transition: color 0.2s 0s, width 0.3s 0.2s;
    -moz-transition: color 0.2s 0s, width 0.3s 0.2s;
    transition: color 0.2s 0s, width 0.3s 0.2s;
    z-index: 4;
}

.cd-modal-action .cd-modal-bg {
    position: absolute;

    left: 50%;
    top: 0;
    width: 4em;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(-2em);
    -moz-transform: translateX(-2em);
    -ms-transform: translateX(-2em);
    -o-transform: translateX(-2em);
    transform: translateX(-2em);
    -webkit-transition: visibility 0s 0.5s;
    -moz-transition: visibility 0s 0.5s;
    transition: visibility 0s 0.5s;
}

.cd-modal-action .cd-modal-bg.is-visible {
    opacity: 1;
    visibility: visible;
}

.cd-modal-close {
    position: fixed;
    z-index: 90;
    top: 20px;
    right: 5%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3) url(../img/cd-icon-close.svg) no-repeat center center;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
    -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
    transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}

.no-touch .cd-modal-close:hover {
    background-color: rgb(0, 0, 0);
    z-index: 90;
}

.modal-is-visible .cd-modal-close {
    visibility: visible;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
    -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
    transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    z-index: 90;
}

@media only screen and (min-width: 768px) {
    .cd-modal-close {
        top: 70px;
        z-index: 90;
    }
}

/*--------------------------------------------------MOOODAL----------------------------*/
/*--------------------------------------------------MOOODAL----------------------------*/
.modall2 {
    --light: hsl(220, 50%, 90%);
    --primary: hsl(255, 30%, 55%);
    --focus: hsl(210, 90%, 50%);
    --border-color: hsla(0, 0%, 100%, .2);
    --global-background: hsl(220, 25%, 10%);
    --background: linear-gradient(to right, hsl(210, 30%, 20%), hsl(255, 30%, 25%));
    --shadow-1: hsla(236, 50%, 50%, .3);
    --shadow-2: hsla(236, 50%, 50%, .4);

    font-size: 62.5%;
    color: var(--light);
    background: var(--global-background);
}


a,
a:link {
    font-family: inherit;
    text-decoration: none;
}

.box a:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}


/* box */
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 4rem 2rem;


}

.box:not(:first-child) {
    height: 45rem;
}

.box__title {
    font-size: 10rem;
    font-weight: normal;
    letter-spacing: .8rem;
    margin-bottom: 2.6rem;
}

.box__title::first-letter {
    color: var(--primary);
}

.box__p,
.box__info,
.box__note {
    font-size: 1.6rem;
}

.box__info {
    margin-top: 6rem;
}

.box__note {
    line-height: 2;
}


/* modal */
.modall-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: none;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;



    /* --m-background is set as inline style */
    background: var(--m-background);
}

/* using :target */
/*
when users will click/enter button(link) browser will add a #id in a url and when that happens we'll show our users the modal that contains that id.
*/
.modall-container:target {
    display: flex;

}


.modall {
    width: auto;
    height: 500px;
    padding: 4rem 2rem;
    border-radius: .8rem;
    color: var(--light);
    background: var(--background);
    box-shadow: var(--m-shadow, .4rem .4rem 10.2rem .2rem) var(--shadow-1);
    position: relative;

    overflow: hidden;

}

.modal__title {
    font-size: 2.2rem;
    text-align: center;
}

.scrollber {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 10px auto;

}

.img__modal {

    width: 400px;
    position: inherit;
}

.modal__text {
    padding: 0 4rem;
    margin-top: 4rem;
    width: 900px;
    height: 300px;
    font-size: 1.3rem;
    line-height: 2;
}



/* link-... */
.link-1 {
    font-size: 2.8rem;

    color: var(--light);
    background: var(--background);
    box-shadow: .4rem .4rem 2.4rem .2rem var(--shadow-1);
    border-radius: 100rem;
    padding: 1.4rem 3.2rem;

    transition: .2s;
}

.link-1:hover,
.link-1:focus {
    transform: translateY(-.2rem);
    box-shadow: 0 0 4.4rem .2rem var(--shadow-2);
}

.link-1:focus {
    box-shadow:
        0 0 4.4rem .2rem var(--shadow-2),
        0 0 0 .4rem var(--global-background),
        0 0 0 .5rem var(--focus);
}

.link-2 {
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--border-color);
    border-radius: 100rem;

    color: inherit;
    font-size: 2.2rem;

    position: absolute;
    top: -3rem;
    right: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.link-2::before {
    content: '×';

    transform: translateY(.1, 5rem);
}

.link-2:hover,
.link-2:focus {
    background: var(--focus);
    border-color: var(--focus);
    transform: translateY(-.2rem);
}


/*---------------------------Clientes------------------------*/
.clieentes {
    background: #f20809;
    background-image: linear-gradient(to top, #af0000 0%, #f20809 100%);

}

.contenedorr {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

}

.titulo-patrocinadores,
.subtitulo-patrocinadores,
.patrocinadores-especial {
    color: #fff;
    text-align: center;
}

.titulo-patrocinadores {
    font-size: 56px;
    margin-top: 48px;
}

.subtitulo-patrocinadores {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 64px;
}

.patrocinadores-especial {
    font-size: 40px;
    font-weight: 300;
    margin-top: 54px;
}

.carru {
    font-size: 14px;
    color: #000;
    margin: auto;
    padding: auto;
}

.swiper-containerr {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    height: calc((100% - 30px) / 2);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    object-fit: cover;
}

@media only screen and (max-width: 375px) {
    .carru {
        width: auto;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
        align-self: center;
    }
}


/*---------------------------Clientes------------------------*/

/* -------------------------------------------------------CONTACTANOS---------------------------------------- */
.compact {
    background: #264169;
    height: auto;
    width: auto;
    align-items: center;
}


.contact-info ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 4em;
    margin-bottom: 20px;
    color: #fff;
}

.contact-wrapper>* {
    padding: 1em;
}

.contact-form {
    background: #264169;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;


}

.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #ffffff;
}

.contact-form form button {
    background: #ffffff;
    border-radius: 50px;
    text-transform: uppercase;
    padding: 1em;
    width: 160px;
    height: 40px;

}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #f20809;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

button span {
    color: rgb(0, 0, 0);
}


.contact-form p {
    color: rgb(255, 255, 255);
    font-size: 1.4em;

}



/* LARGE SIZE */
@media(min-width: 700px) {
    .content {
        margin-left: auto;
        margin-right: auto;
    }

    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper>* {
        padding: 2em;
    }

}

@media(min-width: 350px) {
    .content {
        margin-left: 10%;
        margin-right: 10%;
        align-self: center;
    }

    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper>* {
        padding: 2em;
    }

}

/* -------------------------------------------------------CONTACTANOS---------------------------------------- */

/* -------------------------------------------------------FOOTER---------------------------------------- */
footer {
    width: auto;
    height: auto;
    background-image: linear-gradient(to top, #1a52a5 0%, #264169 100%);
}

footer h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 7px;
    font-weight: 600;
    color: #ffffff;
}

footer h4 {
    text-align: center;
    color: #ffffff;
    font-weight: 200;
}